ion-content{
  --background:var(--ion-color-primary-tint) !important;
}

ion-item{
  --background: transparent !important;
}

.contacts-container{
  margin-top: 30vw;
}

.text{
  color:var(--ion-color-light);
  font-family: Myriad;
}
