
<ion-content padding scrollY="false">

  <div class="contacts-container">
    <div class="contacts">
      <ion-item>
        <ion-icon name="alert" slot="start" color="light"></ion-icon>
        <div class="text">
          <strong>Fernando Foster</strong>
        </div>
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start" color="light"></ion-icon>
        <ion-icon name="copy" slot="end" color="light" (click)="copy('+5491153354577')"></ion-icon>
        <div class="text">

          Cel. +54 (9) 11-5335-4577
        </div>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start" color="light"></ion-icon>
        <ion-icon name="copy" slot="end" color="light" (click)="copy('ffoster@bellamar.com.ar')"></ion-icon>

        <div class="text">

          ffoster@bellamar.com.ar
        </div>
      </ion-item>
      <br><br>
      <ion-item>
        <ion-icon name="alert" slot="start" color="light"></ion-icon>
        <div class="text">
          <strong>Gaston garcía</strong>
        </div>
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start" color="light"></ion-icon>
        <ion-icon name="copy" slot="end" color="light" (click)="copy('+5491151600924')"></ion-icon>
        <div class="text">

          Cel. +54 (9) 11-5160-0924
        </div>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start" color="light"></ion-icon>
        <ion-icon name="copy" slot="end" color="light" (click)="copy('ggarcia@bellamar.com.ar')"></ion-icon>

        <div class="text">

          ggarcia@bellamar.com.ar
        </div>
      </ion-item>

    </div>

  </div>

</ion-content>
