.dato-tecnico-container{
  width:100%;
  margin-bottom: 0.5vw;
  overflow: hidden;
  white-space: nowrap;
}
.nombre-dato{
  font-size:5vw;
  color:var(--ion-color-dark);
  font-family: Futura;
  text-align: left;
}

.dato{
  font-size:4.5vw;
  color:var(--ion-color-dark);
  font-family: Myriad;
  text-align: right;

}
