<ion-content scrollY="false">
  <ion-row class="row-botones">

    <ion-col size="12" class="container-botones">
      <div class="container-boton">
        <div class="boton" (click)="switchNav('BRAFORD')">
          <div class="texto-boton">
            BRAFORD
          </div>
        </div>
      </div>
      <br><br>
      <div class="container-boton">
        <div class="boton" (click)="switchNav('BRANGUS')">
          <div class="texto-boton">
            BRANGUS
          </div>
        </div>
      </div>
    </ion-col>

  </ion-row>
</ion-content>
