<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="remates">
      <ion-icon src="assets/icon/auction.svg"></ion-icon>
      <ion-label fittext>Remates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="centro-genetico" style = "width:50vw !important">
      <ion-icon src="assets/icon/bull.svg"></ion-icon>
      <ion-label fittext>Centro genético</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="mail"></ion-icon>
      <ion-label fittext>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nosotros">
      <ion-icon src="assets/icon/group.svg"></ion-icon>
      <ion-label fittext>Nosotros</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
