<ion-content scrollY="false">



  <ion-row class="container-logo-title">
    <ion-col size="12" text-center>
      <img src="assets/imgs/logo-centro.png">

    </ion-col>
    <ion-col size="12" text-center>
      <div class="texto-centro">
        CORRAL DE GUARDIA
      </div>
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col size="12" class="container-botones">
      <div class="container-boton">
        <div class="boton" (click)="irASemen()">
          <div class="texto-boton">
            SEMEN
          </div>
        </div>
      </div>
      <br><br>
      <div class="container-boton">
        <div class="boton">
          <div class="texto-boton">
            EMBRIONES
          </div>
        </div>
      </div>
    </ion-col>

  </ion-row>


</ion-content>
